%br
- @groups.each do |group|
<<<<<<< HEAD
<<<<<<< HEAD
    = link_to(group.name, group_path(group))
=======
    = link_to("#{group.name}", group_path(group))
>>>>>>> 8b6ca5d805a68daeea04a30bd05186bb300e293e
=======
    = link_to("#{group.name}", group_path(group))
>>>>>>> 8b6ca5d805a68daeea04a30bd05186bb300e293e
    %hr
