%div
  %h2
    = @group.name
.well
  %div
    %h3
      Description:
      = @group.description
  %div
    %h3
      Organizer:
      - @group.organizers.each do |organizer|
        = organizer.username
  %div
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            Member
          %th
            Amount to pay
          %th
            Status
          %th
            Action
      %tbody
        - @group.payments.each do |payment|
          %tr
            %td
              = payment.user.username
            %td
              = payment.amount
            %td
              - if payment.paid
                = content_tag(:span, 'Paid', class: 'label label-success')
              - else
                = content_tag(:span, 'Pending', class: 'label label-danger')
            %td
              = link_to 'Mark as Paid', payment_path(payment, paid: true ), method: :patch
              %br
              = link_to 'Mark as Unpaid', payment_path(payment, paid: false ), method: :patch
= link_to('Delete', group_path(@group), method: :delete, class: 'btn btn-primary')
