%div
  %h2
    = @group.name
.well
  %div
    %h3
      Description:
      = @group.description
  %div
    %h3
      Organizer:
      - @group.organizers.each do |organizer|
        = organizer.username
  %div
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            Member
          %th
            Amount to pay
          %th
            Status
      %tbody
        - @group.payments.each do |payment|
          %tr
            %td
              = payment.user.username
            %td
              = payment.amount
            %td
              = payment.paid
