.logo
  %h1 HajsSieZgadza?
%ul.custom-nav.nav.nav-tabs
  - if user_signed_in?
    %li= link_to('Home', groups_path)
    %li= link_to('Groups', groups_path)
    %li= link_to('Create Group', new_group_path)
    %li.pull-right= link_to('Logout', destroy_user_session_path, method: :delete)

  - else
    %li= link_to('Home', root_path)
    %li= link_to('Login', new_user_session_path)
    %li= link_to('Register', new_user_registration_path)
